# Virtual Environment
autoenv/
venv/
env/
.venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Streamlit Secrets
.streamlit/secrets.toml

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Temporary Files
temp/
tmp/

# Matplotlib Cache
.matplotlib/